[submodule "src/mcnnpytorch"]
	path = src/mcnnpytorch
	url = https://github.com/CS3244-AY2021-SEM-1/mcnn-pytorch.git
[submodule "src/csrnettensorflow"]
	path = src/csrnettensorflow
	url = https://github.com/CS3244-AY2021-SEM-1/csrnet-tensorflow.git
